@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon</h1>
<hr />
<h2>Welcome back, Claire!</h2>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <p>@Html.ActionLink("See all stylists", "Index", "Stylists", new { @class="nav-item"})</p>
  </li>
</ul>

